body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background: rgb(255, 167, 198);
  background: linear-gradient(
    180deg,
    rgba(255, 167, 198, 1) 0%,
    rgba(156, 84, 114, 1) 50%,
    rgba(129, 70, 94, 1) 100%
  ); */
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  /* border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}

.topo {
  width: 100%;
  height: 10%;
  display: flex;
  margin-left: 10px;
}

.t-esquerda {
  width: 50%;
  height: 100%;
}

.t-direita {
  width: 50%;
  height: 100%;
  display: flex;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: default;
}

.menu {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.menu a {
    text-decoration: none;
    font-weight: bold;
    color: #555555;
}

.icone {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.meio {
  display: flex;
  width: 100%;
  height: 80%;
}

.esquerda {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto {
  background: #ffa7c6;
  color: #fff;
  padding: 5px;
  width: 120px;
  height: 30px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.direita {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botoes {
  display: flex;
  gap: 9px;
}

#btn-esquerdo {
  background: #9c5472;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 10px;
  font-weight: bold;
  height: 40px;
  transition: all 300ms ease;
}

#btn-esquerdo:hover {
  background: #81465e;
}

#btn-direito {
  background: none;
  border: none;
  color: #ffa7c6;
  padding: 10px;
  font-weight: bold;
  height: 40px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: all 300ms ease;
}

#btn-direito:hover {
  border: 1px solid #ffa7c6;
  border-radius: 8px;
}

.fim {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: end;
  align-items: end;
}

.footer {
    width: 50%;
    height: 100%;
    color: #555555;
    display: flex;
    justify-content: space-between;
    padding-right: 20px; 
}

.footer a {
    text-decoration: none;
    color: #555555;
    font-weight: bold;
}

.footer i {
    font-size: 25px;
    transition: all 300ms ease;
}

.footer i:hover {
    color: #ffa7c6;
}

.icones {
    display: flex;
    gap: 10px;
}
